/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text color for contrast */
}
/*Background Image */
.background {
    background-color: #074f57;
    background-image: url('assets/images/welcome.jpg'); /* Ensure the path is correct */
    background-size: cover;
    color: white;
    padding-top: 200px;
    padding-bottom:200px;
    height: 1000px;
    
}

/* Container Styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styling */
header {
    position: fixed; /* Fixes the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 20px 0;
    text-align: center;
    z-index: 1000; /* Keeps the header on top of other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Adds shadow for better visibility */
}

/* Navigation Styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 16px; /* Adjust font size as needed */
}

nav ul li a:hover {
    color: #ffb400; /* Accent color on hover */
}

/* Main Content Styling */
main {
    margin-top: 80px; /* Adjust based on header height */
}

.home-section, .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}

.home-content, .about-content {
    max-width: 50%;
}

.about-content h2 {
    color: #ffb400; /* Accent color */
}

.home-content h2{
    color: #ffb400; /* Accent color */
    margin-left: 500px;
    font-size: 40px;
}
.home-content h1{
  font-size: 40px;
  margin: 10px 0;
  margin-left: 500px;
   color: #ffb400;
}

.home-content p {
  font-size: 25px;
  margin-left: 400px;
  white-space: nowrap; /* Prevents text wrapping */
  color: #ffb400;
}

.about-content1 p {
  font-size: 18px;
  margin-bottom: 36px; /* Space below the "About Me" paragraph */
}

.about-content h1 {
    font-size: 3000px;
    margin: 10px 0;
}

.home-image img{
    max-width: 400px; /* Adjust based on image size */
    border-radius: 10px;
    border: 2px solid #fff; /* White border for contrast */
    margin-top: 60px;
    margin-bottom: -180px;
}
.about-image img
{
    max-width: 450px; /* Adjust based on image size */
    border-radius: 10px;
    border: 2px solid #fff; /* White border for contrast */
    margin-top: -300px;
    margin-bottom: -250px;
  

}

/*Adding Icons*/

.about-container {
    display: flex; /* Aligns children horizontally */
    align-items: center; /* Vertically centers items */
    margin-bottom: 10px; /* Adds space between items */
}

.about-container img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin-right: 10px; /* Adds space between the image and text */
    object-fit: contain; /* Ensures image scales correctly */
}

.about-container li {
    list-style-type: none; /* Removes default bullet points */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

/*Resume Button*/

.buttons .btn-resume{
    border: 1px;
    color: black;
    background-color: yellow;
    border-color: white;
    border-radius: 35px;
    padding: 20px;
    text-decoration: none;
    font-family: monospace;
    margin-top: 600000%;
    
}
button:hover {
    background-color: orange; /* Slightly darker shade on hover */
}
.buttons
{
    padding: 60px;
    margin-left: -250px;
    margin-top: -20px;

    
}

/* About Section Specific Styling */
.about-content ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}

.about-content ul li {
    margin-bottom: 10px; /* Space between list items */
}

.about-content1 {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 10%;
    margin-bottom: 60px;
}

.about-content1 h2 {
    color: #ffb400;
    font-size: 40px;
    margin-top: -100px;
}

.about-content h3 {
    margin-top: 20px; /* Space above the heading */
    margin-bottom: 10px; /* Space below the heading */
}

.about-content a {
    color: #ffb400; /* Accent color for links */
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}

/* Education Section Specific Styling */
.education-section {
    padding: 50px;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}
.education-section h2
{
    font-size: 20px;
    color:  #ffb400;
    font-size: 30px;
    margin-top: -40px;

}

.education-item {
    background-color: #333; /* Dark grey background */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.education-item h3 {
    color: #ffb400; /* Accent color */
    margin-bottom: 10px;
	font-size: 25px;
}

.education-item span, .education-item p{
    display: block;
    margin: 5px 0;
	font-size: 17px;

}

/* Responsive Design */
@media (max-width: 768px) {
    .home-section, .about-section, .education-section {
        flex-direction: column;
        text-align: center;
    }

    .home-content, .about-content {
        max-width: 100%;
    }

    .home-image img, .about-image img {
        max-width: 100%;
    }
}



/* Accessibility Enhancements */
a:focus {
    outline: 2px solid #ffb400; /* Highlight links when focused */
}

/*Work Experience*/
/* Work Experience Section Specific Styling */
.work-experience-section {
  padding: 50px;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
}

.work-experience-section h2 {
  font-size: 40px;
  color: #ffb400; /* Accent color */
}

.work-experience-item {
  background-color: #333; /* Dark grey background */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.work-experience-item h3 {
  color: #ffb400; /* Accent color */
  margin-bottom: 10px;
  font-size: 30px;
}

.work-experience-item span{
  display: block;
  margin: 5px 0;
  font-size: 25px;
}

.work-experience-item p {
	display: block;
	margin: 5px 0;
	font-size: 17px;
  }

/*-------------------------------------
         #End Timeline Rules
-------------------------------------*/
/*Projects*/
.projects-heading {
    text-align: left; /* Aligns the heading to the left */
    font-size: 40px; /* Adjusts the font size */
    margin-bottom: 20px; /* Adds space below the heading */
    margin-left: 50%; /* Moves the heading to the center */
    transform: translateX(-50%); /* Centers the heading */
    color: #ffb400;
    margin-top: 100px; /* Adds space above the heading */
}

.projects-heading {
    text-align: left; /* Aligns the heading to the left */
    font-size: 40px; /* Adjusts the font size */
    margin-bottom: -100px; /* Adds space below the heading */
    margin-left: 50%; /* Moves the heading to the center */
    transform: translateX(-50%); /* Centers the heading */
    color: #ffb400;
    margin-top: 150px; /* Adds more space above the heading to move it further down */
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between projects */
}

.project {
    display: flex;
    align-items: center; /* Centers items vertically */
    gap: 20px; /* Adds space between image and description */
}

.project img {
    width: 460px; /* Increased width for better visibility */
    height: auto; /* Maintains aspect ratio */
    border: 2px solid #ccc; /* Optional: Adds a border around images */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow effect */
}

.project-description {
    flex: 1; /* Allows the description to take up remaining space */
    text-align: left; /* Aligns text to the left */
    font-size: 16px; /* Adjusts font size */
    color: #ffffff; /* Adjusts text color */
}

/*******/
/* MEDIA QUERIES */
/*******/

/* Updated CSS for Skills Section */
/* Updated CSS for Skills Section */
.skills-heading {
    text-align: left; /* Align text to the left */
    margin-top: 20px; /* Adjust this value to move it down */
    margin-left: 20px; /* Adjust this value to move it to the left */
    color: #ffb400; /* Adjust the color as needed */
    font-size: 40px;
}

/* Adjust the padding and margins as needed */
.skills-section .content {
    padding: 20px 0; /* Reduced the padding */
}

.skills-section h2 {
    padding: 20px 0; /* Reduced the padding */
    text-align: left; /* Align text to the left */
    margin-top: 20px; /* Adjust this value to move it down */
    margin-left: 600px; /* Adjust this value to move it to the left */
    color: #ffb400; /* Adjust the color as needed */
    font-size: 100px;
}
.section-heading h2
{
    padding: 20px 0; /* Reduced the padding */
    text-align: left; /* Align text to the left */
    margin-top: 20px; /* Adjust this value to move it down */
    margin-left: 1000px; /* Adjust this value to move it to the left */
    color: #ffb400; /* Adjust the color as needed */
    font-size: 200px;
}



.content {
    width: 80vw;
    height: 80vh;
    background: #fff0;
}

.profile-skills {
    display: flex;
    top: 100px; /* Adjusted the top position */
    position: relative;
    width: 100%;
    align-items: flex-start;
}

.profile-skills > div {
    width: 32%;
    margin-right: 3%;
    border-radius: 2px;
    position: relative;
}

ul.skills {
    width: 100%;
    position: relative;
    padding: 25px 35px;
    background: linear-gradient(0deg, var(--c1) 0 10px, var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
}

ul.skills2 {
    --c1: #9acd32;
}

ul.skills3 {
    --c1: #ff4500;
}

ul.skills:before {
    content: "Skills";
    text-transform: uppercase;
    position: absolute;
    top: -75px;
    height: 50px;
    color: var(--w1);
    background-color: var(--b2);
    width: 100%;
    left: 0;
    padding: 15px 15px 0 0;
    text-align: center; /* Centered the text */
    font-weight: 600;
    z-index: 1;
    transition: var(--t1);
    font-size: 50px;
    line-height: 35px;
    transform: scaleY(1.65);
}

ul.skills2:before {
    content: "Tools";
}

ul.skills3:before {
    content: "Codes";
}

ul.skills:after {
    content: "";
    position: absolute;
    border: 40px solid #fff0;
    border-top-color: var(--b2);
    top: -30px;
    left: 10px;
    z-index: 0;
    transition: var(--t1);
    filter: drop-shadow(0 11px 0.1px var(--w1));
}

ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
    transition: var(--t1);
    background-color: #2187e7;
    background-position: 0 50%;
}
ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
    top: -20px;
    transition: var(--t1);
    border-top-color: #2187e7;
}

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
    background-color: #9acd32;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
    border-top-color: #9acd32;
}

ul.skills3:hover:before,
label:hover + ul.skills3:before,
input:checked + label + ul.skills3:before {
    background-color: #ff4500;
}
ul.skills3:hover:after,
label:hover + ul.skills3:after,
input:checked + label + ul.skills3:after {
    border-top-color: #ff4500;
}

ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--w2);
}

ul.skills li:before {
    content: "";
    position: absolute;
    background: #1c1c1c;
    height: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
    --track: #2292dd40;
    background: linear-gradient(
        90deg,
        var(--track) calc(calc(var(--per) * 1%) + 4px),
        #1c1c1c calc(calc(var(--per) * 1%) + 4px)
    );
}

ul.skills2 li:before {
    --track: #9acd3240;
}

ul.skills3 li:before {
    --track: #ff450040;
}

ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #00c6ff66;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1s ease 0s 2 alternate;
}

ul.skills2 li:after {
    background: #9acd32;
    box-shadow: 0px 0px 10px 1px #9acd3299;
}

ul.skills3 li:after {
    background: #ff4500;
    box-shadow: 0px 0px 10px 1px #ff450099;
}

ul.skills li:hover {
    filter: brightness(1.5);
    transition: var(--t1);
}

ul.skills:hover li:after,
label:hover + ul.skills li:after,
input:checked + label + ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
}

@keyframes start {
    100% {
        width: calc(calc(var(--per) * 1%) - 2px);
    }
}

ul.skills2 li:after {
    animation-delay: 0.5s;
}
ul.skills3 li:after {
    animation-delay: 1s;
}

ul.skills li span {
    font-weight: 500;
}

ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
    border-right-color: #2187e7;
}

ul.skills2 li:hover span:before,
.profile-skills input:checked + label + ul.skills2 li span:before {
    border-right-color: #9acd32;
}

ul.skills3 li:hover span:before,
.profile-skills input:checked + label + ul.skills3 li span:before {
    border-right-color: #ff4500;
}

ul.skills li span:after {
    position: absolute;
    right: -40px;
    top: 38px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    /*content: counter(percent) "%";*/
    content: counter(percent);
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px 6px;
    border-radius: 1px;
    font-weight: bold;
    pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
}

ul.skills2 li:hover span:after {
    background: #9acd32;
}

ul.skills3 li:hover span:after {
    background: #ff4500;
}

/*******/
/* SKILLS VALUES */
/*******/

ul.skills li.sk-ani { --per: 75; }
ul.skills li.sk-cms { --per: 85; }
ul.skills li.sk-dis { --per: 76; }
ul.skills li.sk-dtb { --per: 80; }
ul.skills li.sk-pro { --per: 70; }
ul.skills li.sk-res { --per: 90; }

ul.skills li.sk-gim { --per: 90; }
ul.skills li.sk-ado { --per: 80; }
ul.skills li.sk-not { --per: 78; }
ul.skills li.sk-tri { --per: 70; }
ul.skills li.sk-wor { --per: 70; }
ul.skills li.sk-tre { --per: 75; }

ul.skills li.sk-css { --per: 70; }
ul.skills li.sk-htm { --per: 65; }
ul.skills li.sk-jav { --per: 72; }
ul.skills li.sk-php { --per: 80; }
ul.skills li.sk-sql { --per: 82; }
ul.skills li.sk-pug { --per: 40; }

/*******/
/** TOP LABELS ***/
/*******/

.profile-skills input {
    display: none;
}

.profile-skills label {
    background: var(--w1);
    position: absolute;
    top: -61px;
    left: 22px;
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--t1);
    box-shadow: 0 0 0 0 var(--w1);
}

.profile-skills label:before {
    content: "";
    background: #fff0;
    position: absolute;
    top: 12px;
    left: 11px;
    z-index: 2;
    border: 9px solid var(--b2);
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-45deg);
    width: 33px;
    height: 22px;
    border-radius: 2px;
    transition: var(--t1);
}

.profile-skills label:hover {
    box-shadow: 0 0 0 3px var(--w1);
    transition: var(--t1);
}

.profile-skills label:hover:before {
    border-color: var(--b2);
    transition: var(--t1);
}

.profile-skills input:checked + label {
    box-shadow: 0 0 0 6px var(--w1);
    transition: var(--t1);
}

.profile-skills input:checked + label:before {
    border-color: #2187e7;
}

.profile-skills input#sk2:checked + label:before {
    border-color: #9acd32;
}

.profile-skills input#sk3:checked + label:before {
    border-color: #ff4500;
}



label[for="sk1"]:before {
    border-color: cornflowerblue;
}
label[for="sk2"]:before {
    border-color: yellowgreen;
}
label[for="sk3"]:before {
    border-color: orangered;
}

/*******/
/* BOTTOM LABELS */
/*******/

ul.skills li.more {
    padding: 0;
    margin-bottom: 20px;
}

ul.skills li.more:before,
ul.skills li.more:after {
    display: none;
}

ul.skills li.more:hover {
    filter: none !important;
}

ul.skills li.more div {
    max-height: 0;
    transition: var(--t1);
    overflow: hidden;
    padding: 0;
    width: 100%;
}
ul.skills li.more input:checked ~ div {
    max-height: 150px;
    transition: var(--t1);
    padding: 20px 0 0;
}

ul.skills li.more div span:before,
ul.skills li.more div span:after {
    display: none;
}

ul.skills li.more label {
    background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
    right: 0;
    left: inherit;
    top: inherit;
    bottom: -70px;
    color: var(--b2);
    background-size: 100% 300%;
    background-position-y: 100%;
    transition: var(--t1);
    width: 55px;
    height: 55px;
    right: -50px;
}

ul.skills li.more label:before {
    border: 0;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    content: "+";
    content: "\271A";
    font-size: 45px;
    line-height: 55px;
    left: 0;
    top: 0;
    text-align: center;
    color: var(--c1);
}

ul.skills li.more label:hover {
    background-position-y: 0%;
    color: var(--w1) !important;
    transition: var(--t1);
    box-shadow: 0 0 0 10px var(--w1);
}

ul.skills li.more span {
    background: #1c1c1c;
    border-radius: 1px;
    margin: 10px 10px 1px 1px;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
}

ul.skills li.more span:hover {
    color: var(--w0);
    background: var(--c1);
    box-shadow: 0px 0px 5px 1px var(--c1);
    border-color: #fff2;
}

ul.skills li.more input:checked + label {
    box-shadow: 0 0 0 9px var(--w1);
    background-position-y: 0%;
    color: var(--w0);
    bottom: -70px;
}

ul.skills li.more input:checked + label:before {
    content: "\2759";
    transform: rotate(90deg);
    font-weight: 600;
}

ul.skills li.more input:checked + label:hover {
    box-shadow: 0 0 0 0 var(--w1);
    background-position-y: 100%;
    color: var(--b2) !important;
}

/*******/
/* MEDIA QUERIES */
/*******/

@media only screen and (max-width: 1024px) {
    .content { height: 60vh; }
    .profile-skills {
        flex-direction: row;
    flex-wrap: wrap;
        top: 20px;
    }
    .profile-skills > div {
        width: 47% !important;
    }
    .profile-skills > div:nth-child(3) {
        width: 98% !important;
        margin-top: 120px;
    }
}

/* Mobile view disabled to get (almost) the desired thumbnail */
/* Uncomment below code to add the media query for mobile view */

@media only screen and (max-width: 768px) {
    .content { height: 60vh; }
    .profile-skills {
        flex-direction: row;
    flex-wrap: wrap;
        top: 20px;
    }
    .profile-skills > div {
        width: 98% !important;
    }
    .profile-skills > div:nth-child(2), 
    .profile-skills > div:nth-child(3) {
        margin-top: 120px;
    }
    ul.skills li:after {
        width: calc(calc(var(--per) * 1%) - 2px);
    }
    ul.skills li span:before {
        transition: var(--t1);
        right: calc(calc(96.5 - var(--per)) * 1%);
        opacity: 1;
        border-right-color: #2187e7;
    }
    ul.skills2 li span:before {
        border-right-color: #9acd32;
    }
    ul.skills3 li span:before {
        border-right-color: #ff4500;
    }
    ul.skills li span:after {
        transition: var(--t1);
        right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
        opacity: 1;
        background: var(--c1);
    }
}


/*SKILL TIMELINE

/* Work Experience Section Styling */
.skills-section{
    padding: 50px;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}

.skills-section h2 {
    font-size: 20px;
    color: #ffb400; /* Accent color */
    margin-bottom: 30px;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-item {
    display: flex;
    margin-bottom: 20px;
}

.timeline-box {
    background-color: #333; /* Dark grey background */
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 20px;
    position: relative;
}

.timeline-box img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.timeline-box h3 {
    color: #ffb400; /* Accent color */
    margin-bottom: 5px;
}

.timeline-box span {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.timeline-box p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .home-section, .about-section, .education-section, .work-experience-section {
        flex-direction: column;
        text-align: center;
    }

    .home-content, .about-content {
        max-width: 100%;
    }

    .home-image img, .about-image img {
        max-width: 100%;
    }

    .timeline-item {
        flex-direction: column;
        align-items: center;
    }

    .timeline-box {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .timeline-box img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#contact {
    background-color: black; /* Background color for section */
    padding: 20px; /* Padding around the section */
    border-radius: 8px; /* Rounded corners for the section */
    margin: 20px 0; /* Margin above and below the section */
}

#contact h2 {
    text-align: center; /* Center-align the main header */
    margin-bottom: 20px; /* Space below the main header */
    color: #ffb400; /* Change text color to yellow */
    font-size: 30px; /* Increase font size */
}

.contact-container {
    text-align: center; /* Center-align text in the container */
}

.contact-container h2 {
    margin: 10px 0; /* Space above and below the secondary header */
    color: #ffb400;  /* Text color */
}

.contact-container p {
    color: white; /* Text color for paragraph */
    margin: 5px 0; /* Space above and below paragraphs */
    font-size: 30px;
}

.contact-details {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center-align items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to next line */
}

.contact-item {
    background-color: #fff; /* Background color for each contact item */
    border: 1px solid #ddd; /* Border around contact items */
    border-radius: 4px; /* Rounded corners for contact items */
    padding: 10px; /* Padding inside contact items */
    margin: 10px; /* Margin around contact items */
    flex: 1 1 200px; /* Flex properties to ensure responsiveness */
    max-width: 400px; /* Limit the width of each contact item */
}

.contact-email {
    max-width: 500px; /* Increase the max-width for the email section */
}

.contact-item h3 {
    margin-top: 0; /* Remove top margin for subheadings */
    color: #333; /* Text color for subheadings */
    font-size: 20px;
}

.contact-item p {
    margin-bottom: 0; /* Remove bottom margin for paragraphs */
    color: #555; /* Text color for paragraph */
}
